.produtos {
    margin: 30px 0;
    .button {
        color: $branco !important;
        font-weight: 600;
        text-shadow: 1px 1px $cinza;
    }
    .produtos-container {
        margin: 30px 0;
        .produtos-itens {
            color: $cinza;
            h2 {
                font-size: 19px;
                margin: 10px 0 0;
            }
            .produtos-stars {
                svg {
                    width: 10px;
                    height: 10px;
                    fill: $amarelo;
                }
            }
            .produtos-preco {
                font-size: 16px;
            }
        }
    }
}